<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.ui.actionSets">
      <actionSet label="ORCP Tool" visible="true" id="orc.actionSet">
         <action
               label="Run"
               icon="icons/run.png"
               class="org.lychie.eclipse.plugin.orc.actions.RunAction"
               tooltip="Run"
               toolbarPath="sampleGroup"
               id="org.lychie.eclipse.plugin.orc.actions.RunAction">
         </action>
         <action
               label="Configure"
               icon="icons/synchronize.png"
               class="org.lychie.eclipse.plugin.orc.actions.ConfigureAction"
               tooltip="Configure"
               toolbarPath="sampleGroup"
               id="org.lychie.eclipse.plugin.orc.actions.ConfigureAction">
         </action>
      </actionSet>
   </extension>

</plugin>